## python basics

In [4]:
# basics add, subtract, multiply... 
2**5 # power.

32

In [6]:
# assignment
a = 'yo'
b = 23

print(a,b)

# format specifier
print('two variables {v1} & {v2}'.format(v1=a, v2=b))

yo 23
two variables yo & 23

## list

In [74]:
my_list = ['a','b','c', [123,987], 'q', 65]
my_list

['a', 'b', 'c', [123, 987], 'q', 65]

In [75]:
my_list.append('d')
my_list.append(567)
my_list

['a', 'b', 'c', [123, 987], 'q', 65, 'd', 567]

In [76]:
my_list.pop()

567

In [77]:
my_list[1:]

['b', 'c', [123, 987], 'q', 65, 'd']

In [78]:
my_list[:1]

['a']

In [79]:
my_list[0] = 'xyz'
my_list # LIST IS MUTABLE

['xyz', 'b', 'c', [123, 987], 'q', 65, 'd']

In [80]:
nest = ['a','b','c',['d','f',[1,2,3,4,5]]]
print(nest[3])
print(nest[3][2])
print(nest[3][2][0])
print(nest[3][2][2:])

['d', 'f', [1, 2, 3, 4, 5]]
[1, 2, 3, 4, 5]
1
[3, 4, 5]

## tuple

In [81]:
tup = (1,2,3,'a','b')
tup[3]

'a'

In [82]:
# CANNOT UPDATE THE VALUES IN THE INDEX... ~ IMMUTABLE

## dictionaries

In [83]:
dic = {'1A':123,'1B': 234, '1C':345}

In [84]:
dic

{'1A': 123, '1B': 234, '1C': 345}

In [85]:
dic.keys()

dict_keys(['1A', '1B', '1C'])

In [86]:
dic.items()

dict_items([('1A', 123), ('1B', 234), ('1C', 345)])

In [87]:
# DICTIONARY IS MUTABLE

In [ ]:
d = {'a':[1,2,3,{'b':['!','@','#',{'c':[4,5,6,'$']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

## sets

In [88]:
# set has unique items. # IT IS MUTABLE

In [89]:
s = {1,2,3,3,2,5,6,7,3,4,5,6,7,2}
s

{1, 2, 3, 4, 5, 6, 7}

### -----------------------------------------------------------------------------------------

In [90]:
100>50 and 50<20

False

In [91]:
1 in [3,4,5,2,1]

True

In [92]:
'a' in ['b','g','l','q']

False

## loops

In [93]:
arr = ['a','b','c','d','e']
for i in arr:
    print(i)

a
b
c
d
e

In [94]:
i = 1
while i < 10:
    print('i is: {},'.format(i), end = ' ')
    i = i+1

i is: 1, i is: 2, i is: 3, i is: 4, i is: 5, i is: 6, i is: 7, i is: 8, i is: 9,

In [95]:
for i in range(4):
    print(i)

0
1
2
3

In [96]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
def fun(x):
    '''printing the docstring~ comments'''
    return x+5

In [98]:
ans = fun(10)
print(ans)
print(fun.__doc__)

15
printing the docstring~ comments

In [99]:
ans = lambda x,y:x*y
ans(10,20)

200

## map and filter

In [100]:
seq = [1,2,3,4,5]
print(list(map(fun,seq)))
print(list(map(lambda x: x*2,seq)))
print(list(filter(lambda x: x%2 == 0,seq)))

[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[2, 4]

## strings

In [101]:
# .lower/upper()

s = 'hello kid'
s.split()

['hello', 'kid']

In [102]:
s = 'hello # 123 # kid'
print(s.split())
print(s.split('#')) # splits from that character #.

['hello', '#', '123', '#', 'kid']
['hello ', ' 123 ', ' kid']